<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMaterialesBelicosLogisticos" />
                <binding name="BasicHttpBinding_IReportes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17877/Servicios/MaterialesBelicosLogisticos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaterialesBelicosLogisticos"
                contract="MaterialesBelicosLogisticosService.IMaterialesBelicosLogisticos"
                name="BasicHttpBinding_IMaterialesBelicosLogisticos" />
            <endpoint address="http://localhost:17877/Servicios/Reportes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportes"
                contract="ReportesService.IReportes" name="BasicHttpBinding_IReportes" />
        </client>
    </system.serviceModel>
</configuration>