<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
   
    <title>EMI |  @ViewBag.Title</title>
    @*<link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />*@
    <script type="text/javascript" src="Scripts/extjs/swfobject.js"></script>
    @Styles.Render("~/Content/extjs")
    @Scripts.Render("~/Scripts/extjs/extjs1")
</head>
<body>
  
    @RenderBody()

</body>
</html>
