<!DOCTYPE html>

<html>
<head>
    <title>_LogOnLayout</title>

    <link href="@Url.Content("~/Scripts/Extjs/resources/css/ext-all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Extjs/ext-all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/App/View/LogOn/LogOn.js")" type="text/javascript"></script>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    @*<IMG SRC="../Content/images/Immagine.png" width="1128" height="725">*@',
            @RenderBody()
</body>
</html>
